only-built-dependencies=protobufjs,unrs-resolver,@next/swc-win32-x64-msvc,@next/swc-linux-x64-gnu,@next/swc-linux-x64-musl,@next/swc-linux-arm64-gnu,@next/swc-linux-arm64-musl,esbuild,sharp,workerd
enable-pre-post-scripts=true
